#userAdmin
    form(method="POST", action="/create/user")
        fieldset
            legend User Admin

            label First Name
            input(type="text", name="user[firstName]", placeholder="Joe").input_full

            label Last Name
            input(type="text", name="user[lastName]", placeholder="Smith").input_full

            label Please select your Team/Agency
            select(name="user[affiliation]").input_full
                option(value="Administrative") Administrative
                option(value="Ad Operations COE") Ad Operations COE
                optgroup(label="AOD")
                    option(value="Activation") Activation
                    option(value="Brand Relations & Account Planning") Brand Relations & Account Planning
                    option(value="Emerging Solutions") Emerging Solutions
                    option(value="Optimization") Optimization
                    option(value="Platform") Platform
                    option(value="Planning") Planning
                    option(value="Leadership") Leadership
                    option(value="Search - Bid Strategy") Search - Bid Strategy
                    option(value="Search - Brand Relations") Search - Brand Relations
                    option(value="Search - Creative Services") Search - Creative Services
                    option(value="Search - Offshore") Search - Offshore
                    option(value="Social") Social
                optgroup(label="Engineering")
                    option(value="Benchtools") Benchtools
                    option(value="COD") COD
                    option(value="Data") Data
                    option(value="IOD") IOD
                option(value="Finance") Finance
                option(value="HR") HR
                option(value="Marketing") Marketing
                option(value="Product Management") Product Management
                option(value="Program Management") Program Management
                option(value="The Pool") The Pool
                option(value="Ventures/Partnerships") Ventures/Partnerships
                optgroup(label="VivaKi Agency")
                    option(value="Digitas") Digitas
                    option(value="ZenithOptimedia") ZenithOptimedia
                    option(value="Performics") Performics
                    option(value="Starcom MediaVest") Starcom MediaVest
                    option(value="Razorfish") Razorfish

            label Twitter (optional)
            input(type="text", name="user[twitter").input_full
              
            input(type="submit", value="Create")

#kegAdmin
    form(method="POST", action="/create/keg")
        fieldset
            legend Keg Admin

            label Brewer
            input(type="text", name="keg[brewer]").input_full

            label Name
            input(type="text", name="keg[name]").input_full

            label Description
            input(type="text", name="keg[description]").input_full

            input(type="submit", value="Create")

#promptForCard
    p Please scan card

#promptForSmile
    p Smile!
    p#count

#createSuccess
    p Creation complete

#createFailure
    p#error

script(type='text/javascript', src='/javascripts/admin_handlers.js')
