<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Beer On Demand</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/text.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.8.17.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mainPage.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gauge2.css"/>

    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script type="text/javascript">
        var socket = io.connect();
    </script>
    <script src="/javascripts//jquery-1.7.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jQueryRotateCompressed.2.1.js"></script>
    <script src="/javascripts/jquery.formalize.min.js" type="text/javascript"></script>
    <script src="/javascripts/highcharts.js" type="text/javascript"></script>
    <script src="/javascripts/chartHandler.js" type="text/javascript"></script>
    <script src="/javascripts/handlers.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            startCharts();
            startHandlers();
        });
    </script>

</head>

<body>

<div id="header">
    <div id="contentWrapper">
        <div id="barRailTop"></div>
        <div id="centerColumnPosition">
            <img src="/images/fluid/bodTextLogo.png" width="566" height="59" alt="" title="" border="0"/>
        </div>
    </div>
    <div id="leftLogo">
        <div class="image"></div>
    </div>
    <div id="rightLogo">
        <div class="image"></div>
    </div>
</div>

<div id="lowerSection">
    <div id="contentWrapper2">
        <div id="contentColumn2">
            <div id="centerSection">
                <div class="top"></div>
                <div id="chartSection"></div>
                <div id="userSection">
                    <div id="userImage"></div>
                    <div id="userName"></div>
                    <div id="userAffiliation"></div>
                    <div id="userJoined"></div>
                    <div id="userTotalPours"></div>
                    <div id="userAchievements"></div>
                </div>
                <div id="chartNav">
                    <div class="buttonLeftOff"></div>
                    <div class="buttonRightOff"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="leftColumn">
        <div id="leftSection">
            <div class="top"></div>
            <div class="center kegDeets">
                <b>On Tap: </b>
                <div id="kegImage"></div>
                <div class="kegSubDeets" style="width:200px;">
                    <div id="kegTitle" style="font-weight: bold;"></div>
                    <b>Installed:</b>
                    <div id="kegInstalled"></div>
                    <b>Brew Notes:</b>
                    <div id="kegDescription"></div>
                    <b>Amount Left:</b>
                    <div id="kegAmount"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gauge">
    <b>Current Temperature</b>
    <div class="gaugeBack"></div>
    <div class="gaugeNeedle"></div>
    <div class="gaugeGlass"></div>
</div>

<div id="gauge2">
    <b>Current Flow</b>
    <div class="gaugeBack"></div>
    <div class="gaugeNeedle"></div>
    <div class="gaugeGlass"></div>
</div>

<div id="welcomeUser" title="Welcome"></div>

<div id="denyUser" title="Sorry">
    <p>Sorry, you are not in our system, please contact an administrator</p>
</div>

<div id="newAchievements" title="New Achievements"></div>

</body>
</html>
