@charset "utf-8";
/* gauge2.css */

#gauge {background:url('../images/gaugeBackground3.png'); background-repeat:no-repeat; width:200px; height:150px; position:absolute; right:0; top:370px;}
#gauge .gaugeBack {background:url('../images/gaugeBack2.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:1; position:absolute;}
#gauge .gaugeNeedle {background:url('../images/gaugeNeedle.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:2; position:absolute;}
#gauge .gaugeGlass {background:url('../images/gaugeGlass.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:3; position:absolute;}

#gauge2 {background:url('../images/gaugeBackground3.png'); background-repeat:no-repeat; width:200px; height:150px; position:absolute; right:0; top:525px;}
#gauge2 .gaugeBack {background:url('../images/gaugeBack2.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:1; position:absolute;}
#gauge2 .gaugeNeedle {background:url('../images/gaugeNeedle.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:2; position:absolute;}
#gauge2 .gaugeGlass {background:url('../images/gaugeGlass.png'); background-repeat:no-repeat; width:150px; height:150px; overflow:hidden; z-index:3; position:absolute;}
