@charset "utf-8";
/* mainPage.css */

body {margin:0; padding:0; line-height:1.50em; font-family:Verdana, Geneva, sans-serif; font-size:0.85em; min-width:1024px; min-height:768px; background:url('../images/fluid/barBG.jpg'); background-repeat:repeat;}

#contentWrapper {float:left; width:100%; height:180px; min-width:1024px;}
#barRailTop {background:url('../images/fluid/barRailTop.jpg'); background-repeat:repeat-x; width:100%; height:37px;}
/* #contentColumn {margin:0 200px 0 230px; } */ /* Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth */
#centerColumnPosition {margin-top:40px; position:relative; text-align:left; padding-left:200px;}
#leftLogo {float:left; width:230px; margin-top:45px; margin-left:50px; /* Width of left column */ margin-left: -100%;}
#leftLogo .image {background:url('../images/fluid/bodSmallLogo.png'); background-repeat:no-repeat; width:127px; height:124px; margin-left:50px;}
#rightLogo {float:left; width:230px; margin-top:45px; /* Width of right column */ margin-left:-230px; /* Set left margin to -(RightColumnWidth) */}
#rightLogo .image {background:url('../images/fluid/bodSmallLogo.png'); background-repeat:no-repeat; width:127px; height:124px; margin-left:50px;}
#leftSection {width:275px; color:#FFFFFF; top:180px; position:absolute; bottom:0; float:left; font-size:0.80em; height:100%;}
#leftSection .top {width:275px; height:58px; background:url('../images/fluid/leftTopBG.png'); background-repeat:no-repeat;}
#leftSection .center {width:265px; height:100%; background:url('../images/fluid/leftCenterBG.png'); background-repeat::repeat-y; padding-left:10px;}
#leftSection .copy {width:200px;}
#centerSection {width:100%; height:100%; color:#FFFFFF; float:right;}
#centerSection .top {width:100%; height:58px; background:url('../images/fluid/leftTopExtendedBG.png'); background-repeat:repeat-x;}

.kegDeets {width:200px;}
.kegSubDeets {line-height:1.35em;}

#contentWrapper2 {float:left; width:100%;}
#contentColumn2 {margin-left:275px; /* Set left margin to LeftColumnWidth */}
#leftColumn {float:left; width:275px; /* Width of left column */ margin-left:-100%;}

#chartSection {width:55%; text-align:center; min-width:450px; float:right; clear:right;}
#chartNav {width:100%; margin-top:15px; min-width:450px; margin-left:5%;}
#chartNav .buttonLeftOff {background:url('../images/fluid/arrowLeft.png') 0 -31px; width:40px; height:31px; overflow:hidden; float:left; cursor:pointer;} 
#chartNav .buttonLeftOn {background:url('../images/fluid/arrowLeft.png') 0 0px; width:40px; height:31px; overflow:hidden; float:left; cursor:pointer;}
#chartNav .buttonRightOff {background:url('../images/fluid/arrowRight.png') 0 -31px; width:40px; height:31px; overflow:hidden; float:left; cursor:pointer;}
#chartNav .buttonRightOn {background:url('../images/fluid/arrowRight.png') 0 0px; width:40px; height:31px; overflow:hidden; float:left; cursor:pointer;}
#chartNav .chartLabel {width:80%; float:left;}
#chartNav .navSpacer {width:80%; float:left;}

#userSection {width:45%; float:left; font-size:0.80em;}
#userSection #userImage {float:left; padding-right:20px;}
#userSection .userName {font-weight:bold;}
#userSection .userName p {margin-top:0; margin-bottom:5px;}
#userSection .userName p:first-letter {font-size:200%; margin-right:0px;}
#userSection .achievements {float:left; clear:both; margin-top:20px;}

