/* Admin forms */

#userAdmin {
    float: left;
    width: 50%;
}

#kegAdmin {
    float: right;
    clear: right;
    width: 50%;
}

.block {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}

form {
    padding: 10px;
}

fieldset {
    display: block;
    margin: 0 auto;
    border: 1px solid #666;
    padding: 10px;
}
legend {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    padding-right: 10px;
    font-weight: bold;
    vertical-align: middle;
}