/* Admin forms */

#userAdmin {
    float: left;
    width: 50%;
}

#kegAdmin {
    float: right;
    clear: right;
    width: 50%;
}

form {
    padding: 10px;
}

fieldset {
    display: block;
    margin: 0 auto;
    border: 1px solid #666;
    padding: 10px;
}

legend {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    font-weight: bold;
}

#userAdmin form input[type="submit"], #kegAdmin form input[type="submit"] {
    margin-top: 10px;
    margin-left: 368px;
}
